<h2>Edit Your User Info Below</h2> <br>

<div class="form">

    <%= form_for @user, class: "signup_form" do |f| %>

    <%= render partial: "users/form", :locals => { account_holder: @user, f: f } %><br>

    <div class="button">
        <%= f.submit "Update Profile" %>
    </div>

    <% end %> 
</div>
<br>

<%= render :partial => "delete", :locals => { account_holder: @user } %>