<p class="label">You are already <%= @rsvp.status %> this event.<br>
<% if @rsvp.status ==  "waiting" %>
    <p class="label">You are number <%= @rsvp.user.place_in_line(@rsvp.event) %> on the waitlist.</p>
<% end %>

    Would you like to remove your RSVP/waitlist request?</p>

    <%= button_to "Yes", { :controller => :rsvps, :action => :destroy, :id => @rsvp.id }, :method => :delete, data: { confirm: "Are you sure? You will forfeit your RSVP/place in line." } %>