<h2>Edit Your Producer Account Below</h2> <br>

<div class="form">
    <%= form_for @producer, class: "signup_form" do |f| %>
        
        <%= render partial: "users/form", locals: { account_holder: @producer, f: f } %>

        <div class="button">
            <%= f.submit "Update Profile" %>
        </div>
    <% end %> 
</div>
<br>

<%= render :partial => "delete", :locals => { account_holder: @producer } %>